[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strawberry-graphql = {version = "*", extras = ["debug-server"]}
fastapi = "*"
uvicorn = "*"
starlette = "*"
pymongo = "==3.11"
dnspython = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
